@font-face {
  font-family: "Brandon medium";
  src: url("../assets/fonts/BRANDON/Brandon_med.otf");
}
@font-face {
  font-family: "Burbank bold";
  src: url("../assets/fonts/BURBANK/BurbankBigCondensed-Bold.otf");
}

body {
  font-family: "Brandon medium", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: $blue;
  min-height: calc(100vh - 20px);
  background-image: url("../assets/imgs/background.jpg");
  background-size: cover;
  background-position: left center;
}

main {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: $blue;
  &:hover {
    color: $blue;
  }
}

button {
  background: transparent;
  border: none;
  &:focus {
    outline: none;
  }
}
