.layout {
  background-color: $blue;
  min-height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.brand-logo {
  max-width: 100%;
  z-index: 1;
  margin: 0 auto;
  padding: 15px;
  width: 240px;
  @include media-breakpoint-up($xl) {
    width: 300px;
  }
}

.btn {
  font-family: "Burbank Big Condensed", sans-serif;
  font-size: 30px;
  font-weight: 700;
  border-radius: 25px;
  padding: 5px 45px;
  height: 50px;
  text-transform: uppercase;

  &.btn-primary {
    background-color: white;
    color: $blue;
    border: solid 1px $blue;
  }
  &.btn-yellow {
    background-color: $yellow;
    color: white;
    border: solid 1px #fff;
    &:hover {
      color: white;
    }
  }
}

h1 {
  font-size: 38px;
  line-height: 1;
  text-align: center;
  color: $blue;
  text-transform: uppercase;
  font-family: bello-caps, sans-serif;
}

p {
  font-size: 16px;
}
