// Colors
$blue: #2062d6;
$blue-dark: #052055;
$yellow: #ffca00;
$red: #fa2c1b;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Media breakpoints mixin
@mixin media-breakpoint-up($breakpoints) {
  @media (min-width: $breakpoints) {
    @content;
  }
}

@mixin pageBackground($imgUrl) {
  @include media-breakpoint-up($xl) {
    background-image: url($imgUrl);
    background-size: cover;
    background-position: center;
  }
}
