footer {
  margin: 46px 0 20px;
  .container-fluid {
    max-width: 720px;
  }
  .sticker {
    width: 95px;
    margin-top: 15px;
    margin-right: 20px;
    filter: drop-shadow(0 3px 6px);
  }
  .logo-footer {
    margin-right: 20px;
    &:nth-child(1) {
      height: 28px;
      margin-right: 5px;
    }
    &:nth-child(2) {
      padding: 9px;
      height: 60px;
      margin-right: 5px;
    }
  }
  a {
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 0 5px;
    margin: 0 5px;
    &:hover {
      color: white;
    }
  }
  span {
    color: white;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
  }
}
