footer {
  .container-fluid {
    max-width: 660px;
  }
  .sticker {
    width: 90px;
  }
  a {
    color: white;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    &:hover {
      color: white;
    }
    &:not(:last-child) {
      padding-right: 10px;
      margin-right: 10px;
    }
  }
}
