footer {
  margin: 40px auto 20px;
  max-width: 280px;
  @include media-breakpoint-up($md) {
    margin: 46px auto 20px;
    max-width: 720px;
    padding: 0 15px;
  }

  .sticker-sm {
    display: block;
    margin: 5px 15px 0 0;
    max-width: 60px;
    max-height: 25px;
    @include media-breakpoint-up($md) {
      display: none;
    }
  }
  .sticker {
    display: none;
    @include media-breakpoint-up($md) {
      display: block;
    }
    width: 95px;
    margin-top: 15px;
    margin-right: 20px;
    filter: drop-shadow(0 3px 6px);
  }
  .logo-footer-container {
    & > img {
      margin: 0 5px 20px;
      max-height: 20px;
      @include media-breakpoint-up($md) {
        margin: 0 10px 20px;
        max-height: 30px;
      }
      &:nth-child(2) {
        max-height: 40px;
        position: relative;
        top: 6px;
        @include media-breakpoint-up($md) {
          max-height: 60px;
          top: 8px;
        }
      }
      &:nth-child(6) {
        max-height: 30px;
        position: relative;
        top: 6px;
        @include media-breakpoint-up($md) {
          max-height: 45px;
          top: 8px;
        }
      }
    }
  }
  a {
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    padding: 0 5px;
    margin: 0 5px;
    &:hover {
      color: white;
    }
  }
  span {
    color: white;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
  }
}
