header {
  &:not(.isNav) {
    .logo-ope {
      display: block;
      margin: 25px auto;
      max-width: 100%;
      width: 180px;
      @include media-breakpoint-up($sm) {
        width: 360px;
      }
      @include media-breakpoint-up($lg) {
        margin-top: 55px;
      }
    }
    .menu-nav,
    .open-menu-btn {
      display: none;
    }
  }
  &.isNav {
    width: 100%;
    .menu-container {
      display: flex;
      justify-content: space-between;
      letter-spacing: 1px;
      @include media-breakpoint-up($lg) {
        justify-content: center;
      }
      .logo-ope {
        width: 150px;
        margin-top: 25px;
      }
      .open-menu-btn {
        @include media-breakpoint-up($lg) {
          display: none;
        }
      }
      .menu-nav {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: $blue;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 25px;
        transform: translateX(100%);
        transition: transform 0.2s;
        width: 250px;
        @include media-breakpoint-up($sm) {
          width: 50%;
        }
        @include media-breakpoint-up($lg) {
          align-items: flex-end;
          transform: translateX(0);
          padding: 0px;
          width: auto;
          flex-direction: row;
          position: relative;
          background-color: transparent;
        }
        &.is-open {
          transform: translateX(0);
        }
        .close-menu-btn {
          display: flex;
          margin-left: auto;
          @include media-breakpoint-up($lg) {
            display: none;
          }
        }
        ul {
          padding-left: 0;
          list-style: none;
          display: flex;
          flex-direction: column;
          @include media-breakpoint-up($lg) {
            flex-direction: row;
            margin: 0 0 25px;
          }
          @include media-breakpoint-up($xxl) {
            margin: 0 105px 25px;
          }
          li {
            a {
              text-transform: uppercase;
              font-size: 15px;
              display: block;
              color: white;
              text-decoration: none;
              margin: 5px 0;
              @include media-breakpoint-up($lg) {
                margin: 0 10px;
                font-size: 12px;
                color: $blue;
              }
              @include media-breakpoint-up($xl) {
                margin: 0 20px;
                font-size: 15px;
              }
              .grid-count {
                border-radius: 8px;
                padding: 0 5px;
                color: $blue;
                background-color: white;
                position: relative;
                margin-left: 3px;
                @include media-breakpoint-up($lg) {
                  color: white;
                  background-color: $blue;
                }
                .grid-max-tooltip {
                  top: 38px;
                  width: 215px;
                  display: none;
                  position: absolute;
                  background-color: white;
                  color: $red;
                  text-transform: none;
                  font-size: 12px;
                  border-radius: 16px;
                  padding: 15px;
                  box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.16);
                  align-items: center;
                  line-height: 1;
                  left: -83px;
                  img {
                    width: 19px;
                    margin-right: 5px;
                  }
                  &::before {
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 13px solid white;
                    top: -12px;
                    position: absolute;
                    left: 92px;
                    filter: drop-shadow(0 -7px 6px rgba(0, 0, 0, 0.16));
                  }
                }
                &.isMaxGridCount {
                  background-color: $red;
                  &:hover {
                    .grid-max-tooltip {
                      display: flex;
                    }
                  }
                }
              }
            }
          }
        }
        .connexion {
          text-transform: uppercase;
          font-family: "Burbank bold", sans-serif;
          background-color: $blue;
          color: white;
          font-size: 20px;
          line-height: 1;
          padding: 40px 0;
          @include media-breakpoint-up($lg) {
            padding: 74px 25px 25px;
          }
          span {
            color: $yellow;
          }
          a {
            color: white;
            font-family: "Brandon medium", sans-serif;
            text-transform: capitalize;
            font-size: 13px;
            display: block;
          }
        }
      }
    }
  }
}
