header {
  &:not(.isNav) {
    .logo-ope {
      margin: auto;
      display: block;
      margin-top: 55px;
      max-width: 100%;
      width: 180px;
      @include media-breakpoint-up($sm) {
        width: 360px;
      }
    }
  }
  &.isNav {
    .menu-nav {
      display: flex;
      align-items: center;
      @include media-breakpoint-up($lg) {
        width: 360px;
      }
      .logo-ope {
        width: 150px;
      }
      ul {
        display: flex;
        list-style: none;
        li {
          a {
            color: $blue;
            text-decoration: none;
            margin: 0 20px;
          }
        }
      }
    }
  }
}
