.creer-compte {
  .mentions {
    font-size: 8px;
    color: white;
    line-height: 8px;
  }
  .checkbox-container {
    position: relative;
    display: block;
    padding-left: 27px;
    margin-bottom: 12px;
    color: white;
    cursor: pointer;
    line-height: 20px;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      cursor: pointer;
      &:checked ~ .checkmark {
        &:after {
          display: block;
        }
      }
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 18px;
      width: 18px;
      border-radius: 7px;
      border: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      &:after {
        content: "";
        display: none;
        width: 8px;
        height: 8px;
        border-radius: 3px;
        background: white;
      }
    }
  }
}
