.declarer-un-achat {
  .bloc-ticket {
    padding: 20px;
    color: $blue-dark;
    background-color: white;
    box-shadow: 0 -3px 4px rgba($color: #000, $alpha: 0.16);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 270px;
    @include media-breakpoint-up($sm) {
      width: auto;
      padding: 30px 40px;
    }
    &::after {
      content: "";
      background-image: url("../assets/imgs/ticket-de-caisse.svg");
      background-repeat: no-repeat;
      position: absolute;
      height: 41px;
      z-index: -1;
      background-position-x: center;
      width: 270px;
      background-size: 294px 62px;
      bottom: -23px;
      @include media-breakpoint-up($sm) {
        bottom: -25px;
        background-size: 393px 68px;
        width: 365px;
      }
    }
    h2 {
      margin: 0 0 15px;
    }
    p {
      line-height: 1;
      font-size: 15px;
      margin: 0 0 8px;
      @include media-breakpoint-up($sm) {
        margin: 0 8px 10px;
      }
    }
  }
  .g-form {
    input,
    select {
      max-width: 215px;
      font-family: "Burbank bold";
      background-color: rgba($color: #052055, $alpha: 0.04);
    }
    .select-number {
      border: 1px solid $blue-dark;
      background: white;
      height: 25px;
      width: 40px;
      border-radius: 8px;
      cursor: pointer;
      appearance: none;
      background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      background-repeat: no-repeat;
      background-position-x: 13px;
      background-position-y: -1px;
      padding: 0 0 0 3px;
    }
  }
}
