.mentions-legales-reglement {
  .p-title {
    color: $blue;
    text-transform: none;
    text-decoration: none;
    text-align: start;
    margin: 20px 0 5px;
  }
  p {
    font-family: "Brandon Grotesque";
  }
}
